.search-container{
    line-height: 40px;
    background-color: rgb(51, 49, 49);
    position: fixed;
    width: 100%;
    margin-top: 110px;
    z-index: 1;
}
.search-container input{
    width: 75%;
    line-height: 20px;
}
.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 130px;
}
.product-container{
    border-right: 1px solid gray;
    margin-right: 5px;
    margin-top: 165px;
}
.cart-container{
    margin-left: 5px;
    margin-top: 155px;
}
.cart-design{
    margin-top: 10px;
    position: fixed;
    width: 22%;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 15px -1px #a0bed1; 
    box-shadow: 0px 0px 15px -1px #8da7b8;
}