.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid gray;
    margin-right: 5px;
}
.cart-container{
    margin-left: 5px;
}
.cart-container div{
    text-align: left;
}
.cart-container div p{
    font-size: small;
}