.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 130px;
}
.product-container{
    border-right: 1px solid gray;
    margin-right: 5px;
}
.cart-container{
    margin-left: 5px;
}
.cart-design{
    margin-top: 10px;
    position: fixed;
    width: 22%;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 15px -1px #a0bed1; 
    box-shadow: 0px 0px 15px -1px #8da7b8;
}