.header{
    padding-top: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
}
.logo{
    height: 50px;
}
.header nav{
    background-color: black;
    line-height: 45px;
}
.header nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: lightgray;
    color: black;
}